/* you will add css rules for element selectors and IDs */


/* you may add to or change the body rule */
html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}
body {
    font-family: sans-serif;
    color: #fff;
    background: #000;
    margin: 0;
    padding: 25px;
}
img {
    max-width: 100%; /* DO NOT delete or change this line */

}
article {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0;
  justify-content: center;

}
header {
  display: flex;
  justify-content: space-between;
  margin: 0;
  align-items: center;
  font-size: 30px;
  background: #333;
  padding: 25px
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
}
nav ul li {
  margin: 0;
  margin-left: 1rem;
  padding: .6rem 1rem;
  font-size: 30px;
}

#cougar {
  background: #B26219;
  padding: 25px;
}

#lion {
  background: #FFBD82;
  padding: 25px;

}

#tiger {
  background: #FFD5AE;
  padding: 25px;

}

section {
  max-width: 600px;
  flex-wrap: wrap;
  padding: 25px;
  margin: 0;
}
.text {
  color: #000;
  font-size: 1.2rem;
  line-height: 1.5rem;
  padding: 25px;

}
h2 {
  text-align: left;
  margin: 0;
}

footer {
  text-align: center;
  background: #333;
  margin: 0;
  padding: 25px;
}

/* ----- SUGGESTED COLORS -----
    - ARTICLES
    B26219 cinnamon
    FFD5AE pale peach
    FFBD82 peach
    - LINKS
    379CB2 medium blue
    82E8FF light blue

   ----- NEUTRAL COLORS you may use also -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- link pseudo classes --- */
/* --- you may ADD other link pseudo classes for
        specific articles or sections to improve CONTRAST --- */

a:link {
    color: #379CB2;
    text-decoration: none;
}
a:visited {
    color: #82E8FF;
    text-decoration: none;
}
a:focus {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #ccc;
  text-decoration: none;
}
a:active {
  color: #7FFFD4;
  text-decoration: none;
}
